@charset "utf-8";
/* CSS Document */
/*COLOUR SCHEME 
Blue= #4484CE
Aluminum=#D9D9D9
Yellow= #F9CF00
Tangerine =#F19F4D
*/
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
}
.progress{
	height:40px;
	position:relative;
	width:96%;
	margin-left:2%;
	margin-right:2%;
	background-color:#4484CE;
	border-radius:10px;
	float:left;
	margin-top:0.5%;
	font-size:165%;
}
#A{
	color="black";
}
#A:hover{
	color:#F19F4D;
}
#B:hover{
	color:#F19F4D;
}
#C:hover{
	color:#F19F4D;
}
#D:hover{
	color:#F19F4D;
}
#E:hover{
	color:#F19F4D;
}
#F:hover{
	color:#F19F4D;
}
#G:hover{
	color:#F19F4D;
}
.universal-topnav{
	width:100%;
	height:5%;
	background-color:white;
	float:left;
	display:block;
	position: relative;
}
.universal-topnav a {
    float: left;
    display: block;
	padding:3px;
    color:#F19F4D;
	margin-left:20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
.universal-topnav a:hover {
    display: block;
	padding:3px;
    color:#282828;
	margin-left:20px;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}
.universal-topnav input[type=text] {
    float: left;
    padding: 4px;
	padding-right:10px;
    border: none;
	margin-left:10px;
	background: rgba(0, 0, 0, 0);
	color:#F19F4D;
    
    margin-right: 16px;
    font-size: 17px;
	max-width:100px;
}

* {
    box-sizing: border-box;
}

.side-spacing{
	height:100%;
	width:20%;
	float:left;
	display:block;
	
}

.top-spacing{
	width:60%;
	height:50%;
	float:left;
	display:block;
	position:relative;
	 color:#F9CF00;
	/*color: #A6A6A6; */
	font-size:300%;
	font-family: "Lobster", serif;
}
/* START OF SLIDES ###################################################################################################### */
.LSlide_Frm_Lft{
	float:left;position:relative;width:75%;flex:4;margin-top:0.5%;margin-left:2%;background-color:#D9D9D9;border-radius:25px;
}
.LSlide_Frm_Rgt{
	float:left;position:relative;width:19%;margin-top:0.5%;margin-left:2%;margin-right:2%;background-color:#D9D9D9;border-radius:25px;font-family:'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'DejaVu Sans', Verdana, 'sans-serif';
}

#LSlide1{
	display:flex;
	position:relative;
	width:100%;
	
}
#LSlide2{
	display:none;
	position:relative;
	width:100%;
	
}
#LSlide3{
	display:none;
	position:relative;
	width:100%;
}
#LSlide4{
	display:none;
	position:relative;
	width:100%;
}
#LSlide5{
	display:none;
	position:relative;
	width:100%;
}
#LSlide6{
	display:none;
	position:relative;
	width:100%;
	height:100%;
}
#LSlide7{
	display:none;
	position:relative;
	width:100%;
	height:100%;
}
#LSlide8{
	display:none;
	position:relative;
	width:100%;
	height:100%;
}
.rightnext{
	width:150px;
	height:150px;
	right:-80px;
	top:300px;
	position:absolute;
	background-color:#F19F4D;
	z-index:1;
	border-radius:10px;
}
.rightnext:hover {
	backgound-color:blue;
	right:-5px;
	
}
.leftnext{
	width:150px;
	height:150px;
	left:-80px;
	top:300px;
	position:absolute;
	background-color:#F19F4D;
	z-index:1;
	border-radius:10px;
}
.leftnext:hover {
	backgound-color:blue;
	left:-5px;
	
}
/* END OF SLIDES ###################################################################################################### */
#rcorners2 {
    border-radius: 25px;
    background-color:#F19F4D;
    padding-top:10px; 
	padding-bottom:10px;
	padding-left:20px;
	padding-right:20px;
	margin-left:7%;
    width: 190px;
    height: 50px; 
	position:fixed;
	color:white;
}
.bottom-spacing{
	bottom:0;
	width:60%;
	height:30%;
	float:left;
	display:block;
	
}

#myVideo {
    min-width: 100%; 
    min-height: 100%;
	height:870px;
	position: fixed;
    right: 0;
    bottom: 0;
}
/* LOGIN PAGE */
.login{
	border-radius: 25px; 
	height:48%;
	width:30%;
	background-color:white;
	display:block;
	float:left;
	position:relative;
	border:none;
	background: rgba(255, 255, 255, 0.9);
}
.spacinglogin{
	float:left;
	width:30%;
	display:block;
	height:25%;
}
/* TOPNAV ########################################################################################################### */
.topnav {
	border: none;
	position: relative;
    font-family: Verdana,Geneva,sans-serif; 
	font-size:20px;
	color: #A6A6A6;
	float:left;
	text-align: center;
	width:60%;
	height:9%;
	display:block;
	background: rgba(0, 0, 0, 0.5);
	
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color:#A6A6A6;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #D9D9D9;
    color: black;
}
/* Style the "active" element to highlight the current page */
.topnav a.active {
    background-color: #2196F3;
    color: black;
}
/* Style the search box inside the navigation bar */
.topnav input[type=text] {
    float: left;
    padding: 6px;
    border: none;
	background: rgba(0, 0, 0, 0);
	color: #A6A6A6;
    margin-top: 10px;
    margin-right: 16px;
    font-size: 17px;
	max-width:100px;
	
	
}
/* END OF TOPNAV #################################################################################################### */
.body_size{
	width:100%;
	height:auto;
	
}
.main{
	float:left;
	width:50%;
	height:400px;
	background-color: #FFFFFF;
	
}
.mainright{
	width:50%;
	float:left;
	height:400px;
	background-color:black;
	font-family: "Lobster", serif;
	color:white;
	overflow:hidden;
}
.lowermain{
	width:100%;
	font-size:150%;
	background-color:black;
	color:white;
	font-family: "Lobster", serif;
	overflow:hidden;
	
}
.gallery {
    border: 4px solid #000000;
	width:33%;
	float:left;
	height:350px;
	
}
.gallery img {
    width:100%;
    height:100%;
}
.gallery:hover {
    border: 4px solid #C90003;
}

/* The dropdown for learning  #################################################################################################*/
.learn {
    float: left;
	overflow: hidden;
    background-color:white;
	font-family: Verdana,Geneva,sans-serif; 
	font-size:20px;
	color:#A6A6A6;
	background: rgba(0, 0, 0, 0);
	
}

.learn .learnbtn {
    font-size: 20px;    
    border: none;
    outline: none;
    color:#A6A6A6;
    padding: 14px 16px;
    background-color: inherit;
	font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
	
}
.learn-content a {
	float:none;
    display: block;
    color:#A6A6A6;
	position:relative;
    text-align:left;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
	background: rgba(0, 0, 0, 0.5);
	


	
}
/* Add a grey background color to dropdown links on hover */
.learn-content a:hover {
  background-color: #D9D9D9;
	color:#A6A6A6;
}

/* Show the dropdown menu on hover */
.learn:hover .learn-content {
  display: block;
}
.learn-content {
  display: none;
  position: absolute;
  background-color:white;
  min-width:235px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
	background: rgba(0, 0, 0, 0);
}
.topnav a:hover, .learn:hover .learnbtn {
    background-color:#ddd ;
	color:#A6A6A6;
}
/*  END ################################################################################################################ */

/* The dropdown for Working  #############################################################################################*/
.work {
     float: left;
	overflow: hidden;
    background-color:white;
	font-family: Verdana,Geneva,sans-serif; 
	font-size:20px;
color:#A6A6A6;
	background: rgba(0, 0, 0, 0);
}

.work .workbtn {
    font-size: 20px;    
    border: none;
    outline: none;
    color:#A6A6A6;
    padding: 14px 16px;
    background-color:white;
	font-family: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
	background: rgba(0, 0, 0, 0);
}
.work-content a {
	float:none;
    display: block;
    color:#A6A6A6;
	position:relative;
    text-align:left;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
	background: rgba(0, 0, 0, 0.5);

}
/* Add a grey background color to dropdown links on hover */
.work-content a:hover {
  background-color: #D9D9D9;
	color:#A6A6A6;
	background: rgba(0, 0, 0, 0);
}

/* Show the dropdown menu on hover */
.work:hover .work-content {
  display: block;
	background: rgba(0, 0, 0, 0);
}
.work-content {
  display: none;
  position: absolute;
  background-color:white;
  min-width:235px;
  /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
  z-index: 1;
	background: rgba(0, 0, 0, 0);
}
.topnav a:hover, .work:hover .workbtn {
    background-color:#ddd;
	color:#A6A6A6;
	
}
/*  END ################################################################################################################ */

.mainright a:hover{background-color:black; color:red;}
.mainright a{text-decoration:none;}
.footer{
	text-align:center;
	float:left;
	height:90px;
	width:100%;
	background-color:black;	
	color:black;
}
